@import url('https://fonts.googleapis.com/css2?family=Lunasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html {
  width: 100%;
  height: 100%;

}

body {
  background-color: #D3C2B2;
  color: #302419;
  font-family: 'Comfortaa', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}


h2 {
  font-family: 'Lunasima', sans-serif;
  font-size: 50px;
}

.login-card {
  width: 30%;
  padding: 10px 50px;
  border-radius: 1.25rem;
  text-align: center;
  background-color: #F9F5F1;

}

.login-form {
  width: 100%;
  margin: 0;
  display: grid;
  gap: 16px;
  padding-bottom: 30px;
}

.login-form>input,
.login-form>button {
  width: 60%;
  height: 30px;
}

.login-form>input {
  border: 2px solid #ebebeb;
  font-family: inherit;
  font-size: 20px;
  padding: 0 16px;
  border-radius: 1.25rem;
  transition: all 0.375s;
  margin: 2px auto;
}


.login-form>button {
  cursor: pointer;
  width: 80%;
  padding: 0 16px;
  border-radius: 1.25rem;
  background-color: #a51b1b;
  color: #F9F5F1;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.375s;
  margin: 5px auto;
}

.login-form>button:hover {
  background-color: #D3C2B2;
  color: #302419;
}


.login-form>a {
  color: #302419;

}

.login-form>a:hover {
  color: #CC141C;
}